a {
  text-decoration: none;
}

.card {
  border: black 1px solid;
  border-radius: 10px;
  padding: 5px;
  transition: transform 200ms;

  &:hover {
    transform: scale(1.03);
  }

  &__title {
    text-align: center;
    color: blue;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Rammetto One", sans-serif;
  }

  &__description {
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    height: 50px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 300px;
  }

  &__link {
    border-radius: 10px;
  }
  
@media (max-width: 768px) {
  & {
    padding: 10px;

    &__description {
      font-size: 15px;
    }
  }
}
}
