.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    scroll-margin-top: 200px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        color: blue;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
    }

    &__input {
        width: 300px;
        height: 20px;
    }

    &__msg {
        width: 300px;
        height: 100px;
    }

    &__button {
        height: 50px;
        background-color: blue;
        color: white;
        font-size: large;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media (max-width: 768px) {
    .contact {
        scroll-margin-top: 270px;
    }
}

@media (max-width: 435px) {
    .contact {
        scroll-margin-top: 150px;
    }
}