.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding-bottom: 20px;

  &__title {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__link--format {
    color: white;
    font-family: "Rammetto One", sans-serif;
    font-size: 20px;
  }

  @media (max-width: 435px) {
    .header {
      &__title {
        font-size: 25px;
      }
    }
  }
}

