.informations {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        padding: 20px;
    }

    &__resume {
        display: flex;
        gap: 150px;
    }

    &__resume--column {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }

    &__title {
        text-align: center;
        font-size: 32px;
        text-decoration: underline;
    }

    &__elements {
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }

    &__line {
        width: 2px;
        background-color: black;
        height: auto;
        align-self: stretch;
    }

    &__link {
        border-radius: 8px;
        padding: 10px;
        background-color: white;
        color: blue;
        display: inline-block;
        width: 150px;
        text-align: center;
    }

    &__link--content {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        &__resume {
            display:block;
        }

        &__link--content {
            flex-direction: column;
        }
    }
}