.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 60px 30px 60px;
  
    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 40px;
      color: blue;
    }
    
    &__gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
    }
  }

  
@media (max-width: 768px) {
  .main {
    padding: 5px;

    &__title {
      font-size: 25px;
    }

    &__gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
}