.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 60px 30px 60px;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: blue;
    scroll-margin-top: 230px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  @media (max-width: 435px) {
    &__title {
      scroll-margin-top: 180px;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0px 30px 30px 30px;
  
      &__title {
        scroll-margin-top: 300px;
      }
  
      &__gallery {
        grid-template-columns: 1fr;
      }
    }
  }
}